/* General  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --primary-color: #ffffff;
    --bg-header: #255ee9;
    --secondary-color: #f6f6f6;
    --bg-footer: #23272a;
    --details: #7289da;
    --dark-text: #000000;
}

.debug {
    border: 1px solid black;
}

body {
    background-color: var(--primary-color);
}

ul {
    list-style: none;
    
}
.d-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: flex-start;
    
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.text-center {
    justify-content: center;
    align-items: center;
}

.width-50 {
    width: 50%;
}

.column {
    flex-flow: column;
}

.small-text {
    font-size: .8rem;
}


/* header */

header {
    background-color: var(--bg-header);
    padding-top: 1.5rem;
}

nav li {
    padding-right: 2rem;
    
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

a.button {
    background-color: var(--primary-color);
    height: 1.7rem;
    width: 3.8rem;
    border-radius: 15px;
    color: var(--dark-text);
    text-align: center;
    line-height: 1.7rem;
}

.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 480px;
}

.hero-text {
    color: var(--primary-color);
    text-align: center;
    
}


/* main */

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.even {
    background-color: var(--secondary-color);
}

.reverse {
    flex-direction: row-reverse;
}

/* footer  */

footer {
    background-color: var(--bg-footer);
    color: var(--primary-color);
}